extends layout

block content
  div.container.text-center.mt-5
    h1 Bienvenido al Sistema de Agendamiento Médico
    p Selecciona una opción:

    div.row.mt-4
      div.col-md-4
        div.card.h-100.shadow(style="border-radius: 10px;")
          div.card-body
            i(class="bi bi-person-fill" style="font-size: 3rem;") 
            h5.card-title Pacientes
            p.card-text Aquí puedes gestionar la información de los pacientes.
            a(href="/pacientes/registro", class="btn btn-success") Ir a Pacientes

      div.col-md-4
        div.card.h-100.shadow(style="border-radius: 10px;")
          div.card-body
            i(class="bi bi-person-circle" style="font-size: 3rem;") 
            h5.card-title Médicos
            p.card-text Aquí puedes ver y gestionar a los médicos.
            a(href="/profesionales", class="btn btn-success") Ir a Médicos

      div.col-md-4
        div.card.h-100.shadow(style="border-radius: 10px;")
          div.card-body
            i(class="bi bi-calendar-week" style="font-size: 3rem;")  
            h5.card-title Agenda
            p.card-text Aquí puedes ver y gestionar la agenda de turnos.
            a(href="/agendas", class="btn btn-success") Ir a Agenda


  

