extends ../layout.pug

block content
   h1.text-center.mt-4 Lista de Médicos

   .container.mt-5
      a.btn.btn-primary(href="/profesionales/nuevo") Agregar Médico

      // Tabla para mostrar la lista de médicos
      table.table.table-striped.table-hover.mt-4
         thead
            tr
               th Nombre
               th Apellido
               th Estado
               th Acciones
         tbody
            each profesional in profesionales
               tr
                  td= profesional.nombre
                  td= profesional.apellido
                  td
                     if profesional.estado === 'activo'
                        span.badge.bg-success Activo
                     else
                        span.badge.bg-danger Inactivo
                  td
                     // Botón de Editar
                     a.btn.btn-sm.btn-warning(href=`/profesionales/${profesional.id}/editar` title="Editar") 
                        i.bi.bi-pencil 
                        |  Editar
                     // Formulario para inactivar
                     form(action=`/profesionales/${profesional.id}/inactivar`, method="post", style="display:inline;")
                        button.btn.btn-sm.btn-outline-danger(type="submit" title="Inactivar")
                           i.bi.bi-x-circle 
                           |  Inactivar


