extends ../layout.pug

block content
 
  .container.d-flex.justify-content-center.align-items-center(style="min-height: 100vh;")
    .card.w-50.shadow-sm
      .card-header.bg-success.text-white.text-center
        h2 Crear Nueva Agenda
      .card-body
        form(action="/agendas" method="POST")
          div.mb-3
            label(for="profesional_especialidad_id", class="form-label") Profesional Especialidad ID:
            input(type="number" name="profesional_especialidad_id" required class="form-control")

          div.mb-3
            label(for="sucursal_id", class="form-label") Sucursal ID:
            input(type="number" name="sucursal_id" required class="form-control")

          div.mb-3
            label(for="clasificacion", class="form-label") Clasificación:
            input(type="text" name="clasificacion" required class="form-control")

          div.mb-3
            label(for="max_sobreturnos", class="form-label") Max Sobreturnos:
            input(type="number" name="max_sobreturnos" class="form-control")

          div.mb-3
            label(for="duracion_turno", class="form-label") Duración Turno:
            input(type="number" name="duracion_turno" class="form-control")

          div.text-center
            button(type="submit" class="btn btn-success") Crear 


