extends ../layout.pug

block content
  .container.mt-5
    h1.text-center.mb-4 Datos del Turno
    .row
      .col-md-6
        .card.shadow-sm.mb-4
          .card-body
            form(action="/turnos/seleccionar", method="POST", id="formData") 
              .row.mb-3
                .col-12
                  .form-group
                    label(for="especialidad") Servicio
                    select(name="especialidad", id="especialidad", class="form-control", required onchange="cargarProfesionales()")
                      option(value="", disabled selected) Seleccionar
                      each especialidad in especialidades
                        option(value=especialidad.id)= especialidad.nombre
              .row.mb-3
                .col-12
                  .form-group
                    label(for="sucursal") Sucursal
                    select(name="sucursal", id="sucursal", class="form-control", required disabled onchange="cargarProfesionales()")
                      option(value="", disabled selected) Todas
                      each sucursal in sucursales
                        option(value=sucursal.id)= sucursal.nombre
              .row.mb-3
                .col-12
                  .form-group
                    label(for="profesional") Prestador
                    select(name="profesional", id="profesional", class="form-control", required disabled)
                      option(value="", disabled selected) Todos
                      each profesional in profesionales
                        option(value=profesional.id)= profesional.nombre
              .row.mb-3
                .col-12
                  .form-group
                    label(for="fechaConsulta") Fecha de Consulta
                    input(type="date", name="fechaConsulta", class="form-control", required id="fechaConsulta")
              button(type="button", id="verHorarios", class="btn btn-success mt-3", onclick="obtenerTurnosDisponibles()") Ver horarios

    
      .col-md-6
        #resultadosTurnos.mt-4(style="display: none;") 
          .card
            .card-header.bg-success.text-white.text-center
              h5.m-0 Turnos Disponibles
            .card-body
              ul#listaTurnos.list-group.list-group-flush
            

        #confirmacionContainer.mt-4(style="display: none;")
          .card.shadow-sm
            .card-header.bg-success.text-white.text-center
              h2.m-0 Confirmar Turno
            .card-body
              p#especialidadSeleccionada.mb-2 
                strong Especialidad: 
              p#profesionalSeleccionado.mb-2 
                strong Profesional: 
              p#fechaSeleccionada.mb-2 
                strong Fecha: 
              p#horaSeleccionada.mb-2 
                strong Hora: 

              form(action="/turnos/confirmar/{turnoId}", method="POST")
                input(type="hidden", id="turnoId", name="turno_id")
                input(type="hidden", id="agendaId", name="agenda_id")
                input(type="hidden", id="profesionalId", name="profesional_id")
                input(type="hidden", id="fecha", name="fecha")
                input(type="hidden", id="hora", name="hora")
                input(type="hidden", id="motivoConsulta", name="motivo_consulta") 
                button(type="button", class="btn btn-success mt-3", onclick="confirmarTurno()") Confirmar Turno

block scripts
  script(src="/js/seleccionar.js") 
  script(src="/js/mostrarTurno.js")



