extends ../layout.pug

block content
  head
    title Paciente No Encontrado
   
    .container
      .text-center
        h1(class="display-4 text-danger") Paciente No Encontrado
        p(class="lead") El DNI ingresado no corresponde a ningún paciente.
        
        .mt-4
          a(href='/pacientes/ingreso-dni' class="btn btn-primary btn-lg") Volver Atrás
          a(href='/pacientes/registro' class="btn btn-success btn-lg ml-3") Registrarse

