extends ../layout.pug

block content
  head
    title Paciente No Encontrado
   
    .container
      .text-center
        h1(class="display-4 text-danger") Paciente No Encontrado
        p(class="lead") El DNI ingresado no corresponde a ningún paciente.
        
        // Botones de acción
        .mt-4
          a(href='/ingreso-dni' class="btn btn-primary btn-lg") Volver Atrás
          a(href='/registro' class="btn btn-success btn-lg ml-3") Registrarse


//- extends ../layout.pug

//- block content
//-   head
//-     title Paciente No Encontrado
//-   body
//-     h1 Paciente No Encontrado
//-     p El DNI ingresado no corresponde a ningún paciente.

//-     a(href='/ingreso-dni') Volver atras 
//-     a(href='/registro') Registrarse
