extends ../layout.pug

block content
  head
    title Registro de Pacientes
    
    .container.mt-5
      // Centrar el formulario dentro de un contenedor con un ancho máximo
      .row.justify-content-center
        .col-md-6
          h1(class="text-center mb-4") Registro de Pacientes

          form(action="/registro" method="POST" enctype="multipart/form-data")
            .mb-3
              label(for="nombre" class="form-label") Nombre:
              input(type="text" name="nombre" id="nombre" class="form-control" required)

            .mb-3
              label(for="apellido" class="form-label") Apellido:
              input(type="text" name="apellido" id="apellido" class="form-control" required)

            .mb-3
              label(for="dni" class="form-label") DNI:
              input(type="text" name="dni" id="dni" class="form-control" required)

            .mb-3
              label(for="datos_contacto" class="form-label") Datos de Contacto:
              input(type="text" name="datos_contacto" id="datos_contacto" class="form-control" required)

            .mb-3
              label(for="obra_social" class="form-label") Obra Social:
              input(type="text" name="obra_social" id="obra_social" class="form-control")

            .mb-3
              label(for="documento" class="form-label") Subir Documento:
              input(type="file" name="documento" id="documento" accept=".pdf,.jpg,.jpeg,.png" class="form-control" required)

            // Botón con alineación a la derecha
            .text-end
              button(type="submit" class="btn btn-primary") Registrarse


//- extends ../layout.pug 

//- block content
//-  h1 Registro de pacientes

//-  form(action="/registro" method="POST" enctype="multipart/form-data")
//-     label Nombre:
//-     input(type="text" name="nombre" required)

//-     label Apellido:
//-     input(type="text" name="apellido" required)

//-     label DNI:
//-     input(type="text" name="dni" required)

//-     label Datos de Contacto:
//-     input(type="text" name="datos_contacto" required)

//-     label Obra Social:
//-     input(type="text" name="obra_social")

//-     label Subir Documento:
//-     input(type="file" name="documento" accept=".pdf,.jpg,.jpeg,.png" required)

//-     button(type="submit") Registrarse