extends ../layout.pug

block content
  head
    title Registro de Pacientes

  .container.mt-5
    .row.justify-content-center
      .col-md-8.col-lg-6
        .card.shadow-sm
          .card-header.bg-success.text-white.text-center
            h1 Registro de Pacientes

          .card-body
            form(action="/pacientes/registro" method="POST" enctype="multipart/form-data")
              .mb-3
                label(for="nombre" class="form-label") Nombre:
                input(type="text" name="nombre" id="nombre" class="form-control" required)

              .mb-3
                label(for="apellido" class="form-label") Apellido:
                input(type="text" name="apellido" id="apellido" class="form-control" required)

              .mb-3
                label(for="dni" class="form-label") DNI:
                input(type="text" name="dni" id="dni" class="form-control" required)

              .mb-3
                label(for="datos_contacto" class="form-label") Datos de Contacto:
                input(type="text" name="datos_contacto" id="datos_contacto" class="form-control" required)

              .mb-3
                label(for="obra_social" class="form-label") Obra Social:
                input(type="text" name="obra_social" id="obra_social" class="form-control")

              .mb-3
                label(for="documento" class="form-label") Subir Documento:
                input(type="file" name="documento" id="documento" accept=".pdf,.jpg,.jpeg,.png" class="form-control" required)

              .text-end
                button(type="submit" class="btn btn-success") Registrarse

    




